{{!-- <h1>{{title}}</h1>
<p>Welcome to the account view {{title}}</p> --}}
<div class="auth-container">
  <h3>{{user.email}}</h3>

<a href="/logout" id="btn-logout">Logout</a>
<form action="/account/{{user._id}}/delete" method="POST">
  <button class="btn-submit">Delete Account</button>
</form>
</div>

