<h1>{{title}}</h1>
<p>Welcome to the account view {{title}}</p>
<p>{{user.email}}</p>

<a href="/logout">Logout</a>
<form action="/account/{{id}}/delete" method="POST">
  <button>Delete Account</button>
</form>
