body {
  /*padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
}

a {
  color: #00B7FF;
}

.icon-bar {
  width: 100%; /* Full-width */
  background-color: rgb(0, 0, 0); /* Black background */
  overflow: auto; /* Overflow due to float */
  position: fixed;
  bottom: 0;
  left: 0;
}

.icon-bar a {
  float: left; /* Float links side by side */
  text-align: center; /* Center-align text */
  width: 33.3%; /* Equal width (3 icons with 33.3% width each = 100%) */
  padding: 12px 0; /* Some top and bottom padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: white; /* White text color */
  font-size: 36px; /* Increased font size */
}


.active {
  background-color: #5a20ac; /* Add an active/current color */
}


* {
  box-sizing: border-box;
  /*font-family: 'Nunito Sans';font-size: 18px;*/
  
}

.main-container {
  /*background-color: black;*/
  /*align-items: flex-stretch;*/
  display:flex;
  flex-direction: column;
  justify-content: stretch;
  font-family: 'Nunito Sans';font-size: 18px;
  background-color: #1b1b1b ;
}
.container-box {
  display:flex;
  justify-content: stretch;
  border-top: solid 1px darkgrey;
  height: 65px;
  color: azure;
  padding: 10px;
}

.box-1 {
  /*display:flex;
  justify-content: stretch;*/
  flex: 2;
  flex-basis: 50%;
}

.box-2 {
  flex: 1;
  flex-basis: 20%;
}

.box-3 {
  flex: 1;
  flex-basis: 20%;
}

.box-4 {
  flex: 1;
  flex-basis: 10%;
  height: 100%;
  /*display:flex;*/
}

