<div>
  <h1>{{company.name}}</h1>
  <h2>{{company.ticker}}</h2>
  <div id="company-graph-container">

  </div>
  <div id="company-description-container">
    <p>{{company.description}}</p>
  </div>
  <div id="company-performance-container">
    <h5>Performance</h5>
  </div>
  <div id="company-rating-contain">
    <h5>My Rating
    </h5>
    <form action="/{{company._id}}/rate">
      <button type="submit"> 1 </button>
    </form>
  </div>
</div>
